/*
TO-DO: Mail icon is a big smaller than the rest. Fix it.;
TO-DO: Insert buttons in carousel to see projects live;
TO-DO: Cross-browser compatiable;
TO-DO: Turn off paralax for mobile;
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
p, div {
	font-family: 'Open Sans', sans-serif;
}

/****Welcome Section****/

@media (max-width: 5000px) {
	#home-page {
		background: url("../img/sf.jpg") fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 400px) {
	#home-page {
		background: url("../img/mobile/sf-mobile.jpg") fixed;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

#welcome-section {
	height: 700px;
	width: 100%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  text-align: center;
  position: relative;
  z-index: 5;
}

#welcome-section span {
	font-size: 3.5em;
	color: #FFFFFF;
	margin-top: 0;
	position: relative;
}

#sidebar-nav {
		margin-right: 25px;
    position: absolute;
    top: 43%;
    right: -50px;
}

#sidebar-nav li {
	list-style-type: none;
	height: 15px;
}

#sidebar-nav li img {
	height: 10px;
	width: 10px;
	position: fixed;
}

#home-page .container {
	padding-top: 100px;
}

@media (max-width: 400px) {
	#sidebar-nav {
		margin-right: 15px;
		top: 29%;
		right: 0px;
	}

	#sidebar-nav li img {
		height: 10px;
		width: 10px;
		position: fixed;
	}
}

/****Projects Section****/

#projects-section {
	background: url("../img/brickwall_@2X.png") 50% 0 fixed;
	z-index: 4;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	height: auto;
}

#projects-header {
	text-align: center;
	padding-top: 20px;
}

#projects-header img {
	height: 38px;
	width: 38px;
}

#projects-header h1 {
	vertical-align: middle;
	padding-left: 16px;
	padding-bottom: 10px;
}
#projects-header h1, img {
	display: inline-block;
}

.div-line-portfolio {
	display: block;
	height: 1px;
	max-width: 200px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 0px auto 0;
	background-color: rgba(0, 0, 0, 0.16);
}

#carousel-projects {
	text-align: center;
	height: auto;
}

#carousel-projects p {
	font-size: 2em;
	padding: 25px 0 10px 0;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	width: 4%;
}

.carousel-control.left {
	margin-left: 50px;
}

.carousel-control.right {
	margin-right: 50px;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
	color: black;
}

@media (max-width: 1120px) {
	#carousel-projects img {
		height: 70%;
		width: 70%;
	}
}

@media (max-width: 400px) {
	#carousel-projects .carousel-inner {
		width: 82%;
		margin: 0 auto;
	}

	.carousel-control {
		margin-top: 165px;
	}

	.carousel-control.left {
		margin-left: 35px;
	}

	.carousel-control.right {
		margin-right: 36px;
	}

	.carousel-control.left, .carousel-control.right {
		width: 0%;
	}

}


/****Skills Section****/

#skills-section {
	z-index: 3;
	background: white 50% 0 fixed;
	height: auto;
	padding-bottom: 27px;
}

#skills-section .container {
	text-align: center;
	padding: 60px 0 80px 0;
}

#skills-section h1 {
	font-weight: bold;
}

#skills-section .row {
	margin-top: 50px;
}

#skills-section .row h3 {
	font-size: 1.7em;
}

#skills-section .row p {
	font-size: 1.2em;
}

.div-line {
	display: block;
	height: 4px;
	max-width: 150px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 30px auto 0;
	background-color: rgba(0, 0, 0, 0.08);
}

@media (max-width: 810px) {
	#skills-section .row {
		width: 85%;
		margin: 0 auto;
		margin-top: 50px;
	}
}

/****About Section****/

#about-section {
	text-align: center;
	box-shadow: 0 3px 8px 0 #000000;
	-webkit-box-shadow: 0 3px 8px 0 #000000;
	color: #000000;
}

#about-section .container {
	padding-top: 25px;
	height: 680px;
	text-align: center;
}

#about-section .col-md-4 {
	padding: 0;
}

#about-section p {
	font-size: 1.35em;
}

#about-section ul {
	list-style-type: none;
	margin-top: 20px;
	padding-left: 15px;
}

#about-section ul li {
	display: inline-block;
	padding-right: 18px
}

#about-section .row img {
	width: 50px;
	height: 50px;
	opacity: 1;
	-webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;
}

#about-section .row img:hover {
	opacity: .4;
	-webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;
}

@media (max-width: 5000px) {
	#background-wrapper {
		background: url("../img/about-background.jpg") fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 430px) {
	#background-wrapper {
		background: url("../img/mobile/about-mobile.jpg") fixed;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-bottom: 70px;
	}

	#about-section .container {
		width: 85%;
	}

	#about-section ul li {
		display: inline-block;
		padding-right: 0px;
	}

	#about-section ul {
		padding-left: 0px;
	}

	#about-section .row img {
		width: 45px;
		height: 45px;
	}
}