/*
TO-DO: refactor navScroller();
TO-DO: Use Icons for nav;
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
p, div {
	font-family: 'Open Sans', sans-serif;
}

/****Welcome Section****/

#home-page {
	background: url("../img/sf.jpg") 50% 0 fixed;
	background-size: 100%;
}

#welcome-section {
	height: 700px;
	width: 100%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  text-align: center;
  position: relative;
  z-index: 5;
}

#welcome-section span {
	font-size: 3.5em;
	color: #FFFFFF;
	margin-top: 0;
	position: relative;
}

#sidebar-nav {
		margin-right: 25px;
    position: absolute;
    top: 43%;
    right: 0px;
}

#sidebar-nav li {
	list-style-type: none;
}

#sidebar-nav li img {
	height: 10px;
	width: 10px;
	position: fixed;
}

#home-page .container {
	padding-top: 100px;
}

/****Projects Section****/

#projects-section {
	background: url("../img/brickwall_@2x.png") 50% 0 fixed;
	z-index: 4;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	height: auto;
}

#projects-header {
	text-align: center;
	padding-top: 35px;
}

#projects-header h1 {
	font-weight: bold;
	padding-top: 10px;
}

#carousel-projects {
	padding-top: 30px;
	text-align: center;
	height: 410px;
}



#carousel-projects .row {
	text-align: center;
}

.carousel-description, .carousel-img {
	margin: 0 auto;
	height: auto;
}

.carousel-description h1 {
	margin-top: 0;
}

.carousel-img img {
	height: 85%;
	width: 85%;
}

#rails-logo {
	height: 38%;
	width: 38%;
}

#node-logo {
	margin-top: 60px;
	width: 75%;
	height: 75%;
}

#js-logo {
	height: 39%;
	width: 39%;
	margin-top: 20px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	width: 8%;
}

.carousel-control:hover {
 
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
	color: black;
}

#portfolio-extend {
	padding-bottom: 79px;
}

/****Skills Section****/

#skills-section {
	z-index: 3;
	background: white 50% 0 fixed;
	height: auto;
	padding-bottom: 27px;
}

#skills-section .container {
	text-align: center;
	padding: 60px 0 80px 0;
}

#skills-section h1 {
	font-weight: bold;
}

#skills-section .row {
	margin-top: 50px;
}

.div-line {
	display: block;
	height: 4px;
	max-width: 150px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 30px auto 0;
	background-color: rgba(0, 0, 0, 0.08);
}

/****About Section****/

#about-section {
	background: url("../img/logan-background.jpg") 50% 0 fixed;
	height: 680px;
	text-align: center;
	box-shadow: 0 3px 8px 0 #000000;
	-webkit-box-shadow: 0 3px 8px 0 #000000;
}

#about-section .container {
	padding-top: 25px;
}

#about-section p {
	font-size: 1.25em;
}